@import "./variables.scss";

.btn {
  cursor: pointer;
  padding: toRem($size-12);
  border: 1px solid $dark;

  color: white;
  background-color: $dark;
  font-size: 1rem;
}

.btn_link {
  background-color: $white;
  color: black;
  border: none;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: purple;
  }
  &:active {
    color: blue;
  }
}

.btn_primary {
  background-color: $primary;

  &:hover {
    background-color: $primary-light;
  }
  &:active {
    box-shadow: inset 0px 0px 0.4em $dark;
  }
}
