@import "./variables.scss";
@import "./button.scss";
@import "./form.scss";

* {
  box-sizing: border-box;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

.right {
  float: right;
}

.text-danger {
  color: $danger;
  margin: toRem($size-4) 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
